/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex: 1; /* Grow to fill remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  overscroll-behavior: contain; /* Prevent body scrolling */
}

.bottom-bar {
  flex-shrink: 0; /* Do not shrink */
  display: flex;
}

.app-loading {
  height: 100%
}

.popup-notification {
  position: fixed;
  top: 10px;
  right: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 999;
}

div.date {
  background-color: #ebeaea;
  padding-top: 4px;
  font-size: 1.2rem;
  color:#64696e;
  top:-1em;
  position: sticky;
}

div.txn-description {
  padding-bottom: .42857143em;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fab-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
